:root {
  --primary-colour: #1d1486;
  --secondary-colour: #d2801c;
}

* {
  font-family: "Archivo", sans-serif;
}

button {
  border: 1px solid rgb(238, 238, 238);
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  text-align: center;
  margin: 4vw 0px 2vw 0px;
  font-size: calc(17px + (60 - 42) * (100vw - 768px) / (1440 - 768));
}

/* OVERLAY */
#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* PAGE SECTIONS */
#sidebar {
  background-color: var(--primary-colour);
  float: left;
  width: 20%;
  height: 100vh;
}

#main {
  background-color: white;
  float: left;
  width: 80%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CHART */
#chart-container {
  position: relative;
  width: 90%;
  height: 90%;
}

/* INPUTS */
#inputs {
  margin: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

#inputs > * {
  margin: 4px;
  height: 25px;
}

.datepicker {
  transform-origin: top left;
  transform: scale(1);
}

/* INTERVAL BUTTON GROUP */
#interval-btn-group {
  display: flex;
  justify-content: space-between;
}

#interval-btn-group button {
  background-color: white;
  cursor: pointer; /* Pointer/hand icon */
  width: 100%;
}

/* LOADING ANIMATION */
#loading {
  width: 20px;
  height: 20px;
  border: 5px solid #f3f3f321;
  border-top: 6px solid white;
  border-radius: 100%;
  align-self: center;
  visibility: hidden;
  animation: spin 1s infinite linear;
}

#loading.display {
  visibility: visible !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 890px) {
  #interval-btn-group {
    flex-direction: column;
    height: 100% !important;
  }

  #inputs {
    margin: 0px 5px 0px 5px;
  }

  #inputs > * {
    margin: 3px;
    height: 18px;
  }

  input,
  button {
    font-size: 10px;
  }
}
